@import "./css/reset.css";
@import "./css/hexagons.css";
@import "./css/detail.css";
@import "./css/artikels.css";
@import "./css/footer.css";
@import "./css/header.css";
@import "./css/home.css";
@import "./css/stoffen.css";
@import "./css/fournituren.css";
@import "./css/patronen.css";
@import "./css/vars.css";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* stylelint-enable */

a {
  text-decoration: none;
}

main {
  font-family: "SF Pro Text", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

.verticalLine {
  border-right: 0.1rem solid black;
  height: 2rem;
}

.boldTitel {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.smallTitel {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 500;
}

.yellowLine {
  border-bottom: 0.5rem solid var(--yellow);
  width: 58rem;
  margin-left: -5rem;
}

.yellowLineArtikels {
  border-bottom: 0.5rem solid var(--yellow);
}

.backButton {
  background-color: white;
  border: none;
  font-size: 1.4rem;
}

.tag {
  border: 0.2rem solid var(--blue);
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  margin-top: 1.6rem;
  margin-right: 0.8rem;
  color: var(--blue);
}

.yellowButton {
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  /* height: 4.5rem; */
  border-radius: 4rem;
  align-self: flex-end;
  background-color: var(--yellow);
  border: none;
  margin: 1.6rem 0 0;
}

.resultaat__tag {
  display: flex;
  flex-direction: row;
}
